<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>net.pixelinstrument.sla</id>
	<name>[PI] Tickets SLA Management</name>
	<description>Manage calculation of SLA dates for tickets Version 1.1.0</description>
	<author>Davide Cassenti</author>
	<revision>1.1.0</revision>
	<link>http://www.pixelinstrument.net</link>
	<!--<image>plugin.png</image>-->
	
	<!-- Dependencies -->
	
	<dependencies>
		<require plugin_id="devblocks.core" version="2.0.0" />
		<require plugin_id="cerberusweb.auditlog" version="0.0.0" />
	</dependencies>
	
	<!-- ACL -->
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/util.php">
			<class name="PiSlaUtils" />
		</file>
	</class_loader>

	<extensions>
		
		<!-- Page Menu Item -->
		
    	<extension point="cerberusweb.ui.page.menu.item">
    		<id>net.pixelinstrument.sla.setup.plugins.menu</id>
    		<name>SLA Config Menu</name>
    		<class>
    			<file>api/config.php</file>
    			<name>PageMenuItem_SetupPluginsPiSla</name>
    		</class>
    		<params>
    			<param key="page_id" value="core.page.configuration" />
    			<param key="menu_id" value="core.setup.menu.plugins" />
    		</params>
    	</extension>
        
		<!-- Page Section -->
		
        <extension point="cerberusweb.ui.page.section">
			<id>net.pixelinstrument.sla.setup.section</id>
			<name>SLA Config Section</name>
			<class>
				<file>api/config.php</file>
				<name>PageSection_PiSla</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="uri" value="pi_sla" />
			</params>
		</extension>
		
		<!-- Event Listeners -->
		
		<extension point="devblocks.listener.event">
			<id>net.pixelinstrument.sla.listener</id>
			<name>SLA Listener</name>
			<class>
				<file>api/listener.php</file>
				<name>PiSlaEventListener</name>
			</class>
			<params>
				<!-- Event Listener -->
				<param key="events">
					<value>
						<data key="dao.ticket.update" />
					</value>
				</param>
			</params>
		</extension>
		
		<!-- Cron jobs -->
		
		<extension point="cerberusweb.cron">
			<id>net.pixelinstrument.sla.cron.calculate</id>
			<name>SLA Calculate</name>
			<class>
				<file>api/cron/calculate_sla.php</file>
				<name>PiSlaCalculate</name>
			</class>
			<params/>
		</extension>
		
		<!-- Toolbar text -->	
		<extension point="cerberusweb.ticket.toolbaritem">
			<id>net.pixelinstrument.sla.ticket.toolbaritem</id>
			<name>SLA Toolbar</name>
			<class>
				<file>api/ticket_toolbar.php</file>
				<name>PiSlaToolbarSLA</name>
			</class>
			<params>
			</params>
		</extension>
		
		<!-- REST Controllers -->
        
        <extension point="cerberusweb.rest.controller">
			<id>net.pixelinstrument.sla.rest.controller</id>
			<name>SLA</name>
			<class>
				<file>api/rest/sla.php</file>
				<name>ChRest_Sla</name>
			</class>
			<params>
				<param key="uri" value="sla" />
			</params>
		</extension>
	</extensions>
</plugin>
